<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加or删除目标</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui-v2.5.4/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
            <legend>目标管理</legend>
            <div>

                <div class="layui-form layuimini-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label required">目标分组名</label>
                        <div class="layui-input-block">
                            <input type="text" name="target_group" id="target_group" lay-reqtext="分组名不能为空"
                                   placeholder="请输入分组名称"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">目标类型</label>
                        <div class="layui-input-block" id="flag1">
                            <input type="radio" name="target_type" value="domain" title="域名">
                            <input type="radio" name="target_type" value="subdomain" title="子域名">
                            <input type="radio" name="target_type" value="ip" title="IP" checked="">
                            <input type="radio" name="target_type" value="ip_port" title="IP端口">
                            <input type="radio" name="target_type" value="url" title="URL">
                            <input type="radio" name="target_type" value="url_full" title="URL链接">
                            <input type="radio" name="target_type" value="keyword" title="关键字">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">目标</label>
                        <div class="layui-input-block">
                            <textarea name="target" class="layui-textarea" placeholder="请输入目标"></textarea>
                            <tip>填写任务目标</tip>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">备注</label>
                        <div class="layui-input-block">
                            <input type="text" name="tag" id="tag" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label required">动作</label>
                        <div class="layui-input-block" id="flag2">
                            <input type="radio" name="action" value="add" title="添加" checked="">
                            <input type="radio" name="action" value="del" title="删除">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="setting">确定</button>
                            <a class="layui-btn" href="{{ url_for('html_target_manage') }}" >返回</a>
                        </div>
                    </div>


                </div>
        </fieldset>

        <script src="{{ url_for('static', filename='lib/jquery-3.4.1/jquery-3.4.1.min.js') }}" charset="utf-8"></script>
        <script src="{{ url_for('static', filename='lib/layui-v2.5.4/layui.js') }}" charset="utf-8"></script>
        <script>
            layui.use(['form', 'table'], function () {
                var form = layui.form,
                    layer = layui.layer

                var title = "";

                //监听提交
                form.on('submit(setting)', function (data) {
                    //var index = layer.load();
                    data.field.target_type = $('#flag1 input[name="target_type"]:checked').val()
                    data.field.action = $('#flag2 input[name="action"]:checked').val()
                    $.ajax({
                        url: "{{ url_for('api_target_manage') }}",
                        data: JSON.stringify(data.field),
                        contentType: 'application/json',
                        dataType: 'json',
                        async: false,
                        type: 'post',
                        success: function (result) {
                            data = result;
                            if (data.code == 200) {
                                layer.alert('添加任务成功!', {title: title + '提示', icon: 1})
                                window.location.href = "{{ url_for('html_target_manage') }}";
                            } else if (data.code == 201) {
                                $('#target').val("").focus();
                                layer.alert('已存在，请重新输入!', {title: title + '提示', icon: 2})
                            } else {
                                layer.alert('添加失败!', {title: title + '提示', icon: 2})
                            }
                        }
                    })
                    //layer.close(index);
                    return false;
                });

            });
        </script>
</body>
</html>
